.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px;
    gap: 10px 5px;
    height: 100vh;
    background-color: teal;
}

.item {
    padding: 20px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;

}

.item1 {
    background-color: red;
}